<div class="mt-8">
  <h1 class="text-3xl font-bold dark:text-white pl-3 pb-6">Recent posts</h1>

  <div class="recent-posts pl-5 grid grid-cols-1 gap-5 ml-2  mr-3 rounded-xl p-6">
    <% if @recent_posts.any? %>
      <% @recent_posts.each do |post| %>
        <div class="bg-gray-700 p-4 rounded-lg border border-gray-600">
          <%= link_to post.title, post, class: "text-white hover:text-blue-300 font-medium" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-white">No posts yet</p>
    <% end %>
  </div>



</div>